In [22]:
import numpy as np
import pandas as pd

In [23]:
data = {'Name': ['Amit', 'Riya', 'Karan', 'Neha', 'Raj'],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Age': [25, 30, 35, 28, 22],
        'City': ['Delhi', 'Mumbai', 'Kolkata', 'Chennai', 'Delhi'],
        'Education_Level': ['High School', 'Bachelor', 'Master', 'PhD', 'Bachelor']}

df = pd.DataFrame(data)
df

    Name  Gender  Age     City Education_Level
0   Amit    Male   25    Delhi     High School
1   Riya  Female   30   Mumbai        Bachelor
2  Karan    Male   35  Kolkata          Master
3   Neha  Female   28  Chennai             PhD
4    Raj    Male   22    Delhi        Bachelor

In [24]:
#Label Encoding
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Gender_le'] = le.fit_transform(df['Gender'])
df['City_le'] = le.fit_transform(df['City'])
df[['Gender', 'Gender_le', 'City', 'City_le']]

   Gender  Gender_le     City  City_le
0    Male          1    Delhi        1
1  Female          0   Mumbai        3
2    Male          1  Kolkata        2
3  Female          0  Chennai        0
4    Male          1    Delhi        1

In [25]:
#One Hot Encoding
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output = False)
city_encoded = ohe.fit_transform(df[['City']])
name = ohe.get_feature_names_out(['City'])
city_encoded_df = pd.DataFrame(city_encoded, columns=name)
city_encoded_df

   City_Chennai  City_Delhi  City_Kolkata  City_Mumbai
0           0.0         1.0           0.0          0.0
1           0.0         0.0           0.0          1.0
2           0.0         0.0           1.0          0.0
3           1.0         0.0           0.0          0.0
4           0.0         1.0           0.0          0.0

In [26]:
df_final = pd.get_dummies(df, columns=['City'])
df_final

,Name,Gender,Age,Education_Level,Gender_le,City_le,City_Chennai,City_Delhi,City_Kolkata,City_Mumbai
0,Amit,Male,25,High School,1,1,False,True,False,False
1,Riya,Female,30,Bachelor,0,3,False,False,False,True
2,Karan,Male,35,Master,1,2,False,False,True,False
3,Neha,Female,28,PhD,0,0,True,False,False,False
4,Raj,Male,22,Bachelor,1,1,False,True,False,False

In [27]:
#Ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder

edu_order = [['High School', 'Bachelor', 'Master', 'PhD']]
oe = OrdinalEncoder(categories=edu_order)
df['Education_Encoded'] = oe.fit_transform(df[['Education_Level']])
df[['Education_Level', 'Education_Encoded']]

  Education_Level  Education_Encoded
0     High School                0.0
1        Bachelor                1.0
2          Master                2.0
3             PhD                3.0
4        Bachelor                1.0