In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Realistic_Messy_Employee_Dataset_Beginner_Friendly.csv')
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,NaN,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,NaN,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,M,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,NaN,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,Male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,NaN,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,NaN,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote
6080,10656,Leslie Hansen,21,NaN,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.isnull().sum()

ID                      0
Name                  125
Age                    61
Gender                784
Email                  66
Phone_Number           77
City                  596
Department            535
Salary                 55
Joining_Date          111
Experience_Years       64
Performance_Score     668
Manager_ID             69
Work_Location         735
Bonus_Percentage      131
Remote_Onsite        1020
dtype: int64

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 6081 entries, 0 to 6080
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 6081 non-null   int64
 1   Name               5956 non-null   str
 2   Age                6020 non-null   str
 3   Gender             5297 non-null   str
 4   Email              6015 non-null   str
 5   Phone_Number       6004 non-null   str
 6   City               5485 non-null   str
 7   Department         5546 non-null   str
 8   Salary             6026 non-null   str
 9   Joining_Date       5970 non-null   str
 10  Experience_Years   6017 non-null   float64
 11  Performance_Score  5413 non-null   str
 12  Manager_ID         6012 non-null   float64
 13  Work_Location      5346 non-null   str
 14  Bonus_Percentage   5950 non-null   float64
 15  Remote_Onsite      5061 non-null   str
dtypes: float64(3), int64(1), str(12)
memory usage: 760.3 KB

In [5]:
missing = df.isnull().sum().sort_values(ascending=False)
missing_percent = (missing / len(df)) * 100
pd.DataFrame({'Missing_Count': missing, 'Missing_Percent': missing_percent})

                   Missing_Count  Missing_Percent
Remote_Onsite               1020        16.773557
Gender                       784        12.892616
Work_Location                735        12.086828
Performance_Score            668        10.985035
City                         596         9.801020
Department                   535         8.797895
Bonus_Percentage             131         2.154251
Name                         125         2.055583
Joining_Date                 111         1.825358
Phone_Number                  77         1.266239
Manager_ID                    69         1.134682
Email                         66         1.085348
Experience_Years              64         1.052458
Age                           61         1.003124
Salary                        55         0.904457
ID                             0         0.000000

In [6]:
df.duplicated().sum()

np.int64(6)

In [7]:
df.drop_duplicates(inplace=True)
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,NaN,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,NaN,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,M,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,NaN,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,Male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,NaN,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,NaN,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote
6080,10656,Leslie Hansen,21,NaN,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.dtypes

ID                     int64
Name                     str
Age                      str
Gender                   str
Email                    str
Phone_Number             str
City                     str
Department               str
Salary                   str
Joining_Date             str
Experience_Years     float64
Performance_Score        str
Manager_ID           float64
Work_Location            str
Bonus_Percentage     float64
Remote_Onsite            str
dtype: object

Name Cleaning

In [9]:
df['Name'].isnull().sum()

np.int64(124)

In [10]:
df[df['Name'].isnull()].head()

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
311,14132,NaN,19,male,uross@gmail.com,6300814371,Hyderabad,NaN,121454,2022-04-06,15.0,Poor,10001.0,Bangalor,1.0,Onsite
324,19605,NaN,44,Unknown,sanchezstephanie@yahoo.com,847-726-5745x8462,Hyderabad,hr,72354,2026-01-22,13.0,Excellent,10036.0,Delhi,4.0,onsite
365,15739,NaN,59,M,chenderson@jimenez-hall.com,(353)695-8399x3630,Delhi,Finance,53286,2021-10-08,18.0,3,10037.0,NaN,16.0,onsite
368,14876,NaN,42,NaN,thomassandra@yahoo.com,679.812.1645,mumbai,Financ,144907,2022-05-08,0.0,Good,10087.0,Bangalor,13.0,Remote
520,15023,NaN,63,Male,garciahector@owens.com,971-471-1592x9071,Mumbai,hr,86552,2017-10-10,19.0,Excellent,10041.0,Delhi,26.0,Remote

In [11]:
#df['column_name'] = df['column_name'].str.strip().str.replace(r'\s+', ' ', regex=True)

In [12]:
extra_space_names = df[df['Name'].str.startswith(' ') | df['Name'].str.endswith(' ')]
extra_space_names

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
196,17080,Jerry Ellis,37,male,sandracarter@gregory.org,755-653-0679x08707,Chennai,Operations,79245,2022-12-30,2.0,Good,10018.0,Mumbai,20.0,remote
386,11304,Brittany Avery,62,Male,nancy35@torres.com,248-069-6628x264,Hyderabad,sales,69037,2023-05-30,10.0,5,10003.0,NaN,1.0,onsite
402,12983,Kristen Mccormick,39,Female,jason12@gmail.com,658.594.2860,Bangalor,Marketing,4943155,2018-07-26,17.0,5,10056.0,Mmbai,17.0,NaN
430,15095,Vincent Franco,NaN,male,james01@miller-valencia.info,+1-581-351-9496,Mumbai,Finance,105733.3,2017-03-29,3.0,4,10059.0,Mmbai,13.0,Remote
433,14276,Jill Jones,55,Female,arthurallen@barry.com,+1-795-496-4059x322,Bangalore,HR,136017,2020-11-05,9.0,1,10096.0,Hyderabad,29.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5926,12380,Mike Hawkins,twenty,female,jamesarnold@hotmail.com,5526582771,Delhi,hr,81827,2018-05-27,19.0,Excellent,10028.0,Delhi,11.0,Onsite
5980,19651,William Soto,35,Male,hmurphy@patterson-cisneros.com,001-312-760-1682x14507,Hyderabad,IT,149547,2022-09-21,5.0,Excellent,10016.0,Mmbai,10.0,remote
6002,18306,Amanda Rocha,22,Female,igonzalez@hotmail.com,001-390-092-3546x147,Bangalore,Sales,4667817,2017-08-20,9.0,Poor,10057.0,Mumbai,19.0,remote
6026,14886,Rachel Shaw,forty-five,male,lambertandre@vance-mcpherson.biz,(645)117-5591x893,mumbai,sales,NaN,2020-10-27,4.0,1,10014.0,Bangalor,16.0,Remote
6044,13764,Amber Lee,18,NaN,user#domain.com,534.668.7825x656,NaN,IT,122470,2019-08-20,7.0,4,10069.0,Hyderabad,30.0,Hybrid

In [13]:
print('Total names with extra spaces =', len(extra_space_names))

Total names with extra spaces = 126

In [14]:
import re

def has_special_char(name):
    if pd.isnull(name):
        return False
    return bool(re.search(r'[^a-zA-Z\s]', name))

special_char_names = df[df['Name'].apply(has_special_char)]
special_char_names.head(20)

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
87,16021,Dr. Phillip Austin,20,female,richardjones@gmail.com,368.326.6659x394,Mumbai,Sales,93125,"Oct 27, 2024",15.0,3,10061.0,Hyderabad,30.0,Onsite
132,17459,Scott Bates Jr.,62,Male,fordgerald@yahoo.com,+1-103-135-1436,mumbai,HR,44204,2024-11-26,12.0,1,10016.0,Mmbai,10.0,Remote
177,16971,Mr. Fernando Pena DVM,26,male,caineric@rodriguez.com,001-707-292-9713x59237,Bangalor,HR,62535,2025-07-15,4.0,NaN,88888.0,Hyderabad,19.0,remote
254,12704,Mr. Philip Webb,61,female,hermankyle@santiago-green.org,+1-568-666-0363x473,Mmbai,Operations,129427,2025-12-28,7.0,Good,10033.0,Mumbai,-10.0,Hybrid
275,13053,Perry Villegas Jr.,60,Female,jeremy15@copeland.biz,001-507-697-8881x08694,Hyderabad,Marketing,116321,2023-12-19,6.0,5,10006.0,Mmbai,14.0,Hybrid
290,19378,Mr. Patrick Bennett Jr.,54,NaN,tflynn@underwood.info,(768)352-6971x361,Mumbai,IT,95241,2017-04-26,30.0,1,10047.0,Mmbai,29.0,Remote
292,16585,Mrs. Cindy Maldonado,29,female,camposnicole@yahoo.com,837-199-2031,Hyderabad,Sales,129835,2016-04-03,16.0,Excellent,10040.0,Mumbai,27.0,NaN
320,16871,Dr. Maurice Beasley DDS,-20,NaN,robert70@hughes-ramirez.com,1566126900,Mmbai,hr,98953,2024-08-02,0.0,2,10078.0,Mumbai,28.0,Hybrid
321,17013,Mr. Dwayne Perez,44,Male,sydney59@gmail.com,771.637.4753,NaN,Operations,30340,2024-10-23,20.0,1,10026.0,Mmbai,25.0,Hybrid
411,12235,Dr. James Fisher,18,NaN,brandon73@gutierrez.org,755.948.0608x8724,Delhi,sales,64667.1,2021-07-14,20.0,Poor,10047.0,Mmbai,4.0,onsite
421,17532,Dr. Monica Franklin,33,female,elizabethhancock@lee.com,290-436-3649x7982,Hyderabad,Finance,145212,2020-07-06,12.0,Excellent,10070.0,NaN,3.0,Hybrid
429,11524,Mr. Steven Miller,35,Male,vsmith@hotmail.com,(974)449-9861x6474,Mmbai,Marketing,44592.31,2025-12-13,2.0,NaN,10029.0,NaN,22.0,Remote
465,15460,Mrs. Diana Robinson,48.8,male,annettesmith@yahoo.com,(091)045-6766x531,mumbai,Financ,102509,2024-08-16,12.0,Poor,10018.0,Delhi,6.0,Remote
527,16745,Mr. Evan Byrd,61,Male,philipreyes@gallagher.org,880-377-1079,Mumbai,NaN,120636,2024-01-20,16.0,2,10063.0,Chennai,3.0,Hybrid
550,16769,Mrs. Katrina Pearson,24,M,zharrington@roberts.org,571-272-1937x21713,Chennai,Sales,101580,2023-01-10,25.0,2,10049.0,Delhi,18.0,Onsite
579,12160,Dr. Laurie Nguyen,thirty-two,Female,jarnold@wright-king.biz,(924)322-3135,Bangalor,sales,76833,2016-10-16,12.0,Good,10001.0,Hyderabad,18.0,Remote
645,13145,Walter Flores Jr.,65,female,brian59@rojas.com,(625)865-7933,mumbai,IT,79747.41,2025-01-15,17.0,4,10034.0,Mmbai,1.0,onsite
732,11005,Mrs. Yvonne Chavez,43,M,hcarpenter@osborne-miranda.net,601-053-3229,Mumbai,NaN,61491,2017-08-12,18.0,NaN,10067.0,NaN,128.0,remote
781,15776,Mr. Allen Murray,34,female,udennis@gmail.com,001-321-328-6144x8433,Mmbai,Operations,131883,2017-08-19,13.0,4,88888.0,Chennai,30.0,onsite
809,15900,Dr. Michael Gonzalez,64,M,timothy95@wade-barrera.biz,620-093-8778x019,Mumbai,HR,40239,2020-05-01,17.0,4,10069.0,Delhi,NaN,Hybrid

In [15]:
print('Total names with special characters =', len(special_char_names))

Total names with special characters = 138

In [16]:
df['Name'] = df['Name'].fillna('Unknown')
df['Name']

0            Morgan Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: str

In [17]:
df['Name'].isnull().sum()

np.int64(0)

In [18]:
df['Name'] = df['Name'].astype(str).str.strip()
df['Name']

0            Morgan Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: str

In [19]:
df['Name'].replace('Morgan Reyes', 'Morgan #@Reyes')

0          Morgan #@Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: str

In [20]:
#Keep only letters and spaces
df['Name'] = df['Name'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x))
df['Name']

0            Morgan Reyes
1          Brendan Thomas
2         Jeanette Hooper
3           Jesse Stewart
4         William Maxwell
              ...
6076       Kevin Campbell
6077       Richard Garcia
6078    Richard Rodriguez
6079         Lucas Ramsey
6080        Leslie Hansen
Name: Name, Length: 6075, dtype: str

In [21]:
df['Name'] = df['Name'].str.title()

In [22]:
df['Name'].isnull().sum()

np.int64(0)

In [23]:
df['Name'].head(10)

0        Morgan Reyes
1      Brendan Thomas
2     Jeanette Hooper
3       Jesse Stewart
4     William Maxwell
5      Rachel Shelton
6    Antonio Anderson
7      Colin Robinson
8       Sarah Stevens
9      Nichole Garcia
Name: Name, dtype: str

Age Cleaning

In [24]:
df['Age'].unique()

<StringArray>
[  '39',   '31',   '41',   '19',   '56',   '62',   '63',   '20',   '51',
   '38',
 ...
 '34.1', '25.5', '55.3', '33.0', '52.9', '21.8', '56.1', '58.2', '53.0',
 '56.4']
Length: 109, dtype: str

In [25]:
missing_count = df['Age'].isnull().sum()
print('Missing values in age =', missing_count)

Missing values in age = 61

In [26]:
df['Age'] = df['Age'].astype(str)
df['Age']

0       39
1       31
2       41
3       39
4       19
        ..
6076    24
6077    37
6078    48
6079    18
6080    21
Name: Age, Length: 6075, dtype: str

In [27]:
def contains_letters(age_value):
    age_value = str(age_value)
    if age_value.lower() == 'nan':
        return False
    return any(c.isalpha() for c in age_value)

In [28]:
Age_has_letters = df['Age'].apply(contains_letters)
Age_has_letters

0       False
1       False
2       False
3       False
4       False
        ...
6076    False
6077    False
6078    False
6079    False
6080    False
Name: Age, Length: 6075, dtype: bool

In [29]:
non_numeric_ages = df[Age_has_letters]

In [30]:
non_numeric_ages['Age'].value_counts()

Age
forty-five    23
thirty-two    20
twenty        18
Name: count, dtype: int64

In [31]:
non_numeric_ages['Age'].unique()

<StringArray>
['forty-five', 'twenty', 'thirty-two']
Length: 3, dtype: str

In [32]:
df['Age'] = df['Age'].replace(['forty-five', 'twenty', 'thirty-two'], ['45', '20', '32'])

In [33]:
df['Age'] = df['Age'].replace('nan', np.nan)

In [34]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [35]:
negative_age = df[df['Age'] < 0]

In [36]:
negative_age['Age'].value_counts()

Age
-1.0     21
-20.0    16
-5.0     16
Name: count, dtype: int64

In [37]:
df['Age'] = df['Age'].where(df['Age'] >= 0, np.nan)

In [38]:
df[df['Age'] >= 0]

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39.0,NaN,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31.0,NaN,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41.0,M,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39.0,NaN,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19.0,Male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24.0,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37.0,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48.0,NaN,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18.0,NaN,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote
6080,10656,Leslie Hansen,21.0,NaN,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [40]:
df['Age'] = df['Age'].astype(int)

In [41]:
df['Age'].unique()

array([ 39,  31,  41,  19,  56,  62,  63,  20,  51,  38,  33,  53,  44,
        48,  26,  43,  47,  28,  40,  35,  55,  42,  45,  54,  64,  29,
        57,  32,  27,  37,  25,  21,  30,  18,  59,  34,  61,  22,  49,
        58,  24,  65,  46, 200,  60,  36,  50, 150,  52,  23, 101])

In [42]:
df[df['Age'] == 'NaN']

Empty DataFrame
Columns: [ID, Name, Age, Gender, Email, Phone_Number, City, Department, Salary, Joining_Date, Experience_Years, Performance_Score, Manager_ID, Work_Location, Bonus_Percentage, Remote_Onsite]
Index: []

In [43]:
lower_limit = 18
upper_limit = 65

df.loc[(df['Age'] < lower_limit) | (df['Age'] > upper_limit), 'Age'] = np.nan

In [44]:
df['Age'].unique()

array([39., 31., 41., 19., 56., 62., 63., 20., 51., 38., 33., 53., 44.,
       48., 26., 43., 47., 28., 40., 35., 55., 42., 45., 54., 64., 29.,
       57., 32., 27., 37., 25., 21., 30., 18., 59., 34., 61., 22., 49.,
       58., 24., 65., 46., nan, 60., 36., 50., 52., 23.])

In [45]:
median_age = df['Age'].median()
df['Age'] = df['Age'].fillna(median_age)

In [46]:
df['Age'].unique()

array([39., 31., 41., 19., 56., 62., 63., 20., 51., 38., 33., 53., 44.,
       48., 26., 43., 47., 28., 40., 35., 55., 42., 45., 54., 64., 29.,
       57., 32., 27., 37., 25., 21., 30., 18., 59., 34., 61., 22., 49.,
       58., 24., 65., 46., 60., 36., 50., 52., 23.])

In [47]:
df['Age'] = df['Age'].astype(int)

In [48]:
df['Age'].dtype

dtype('int64')

Gender Column

In [49]:
df['Gender'].unique()

<StringArray>
[nan, 'M', 'Male', 'F', 'Unknown', 'Female', 'female', 'male']
Length: 8, dtype: str

In [50]:
df['Gender'] = df['Gender'].str.lower()

In [51]:
df['Gender'].value_counts()

Gender
male       1546
female     1484
m           770
f           754
unknown     737
Name: count, dtype: int64

In [52]:
df['Gender'] = df['Gender'].replace({'m': 'male', 'f': 'female'})

In [53]:
df['Gender'].unique()

<StringArray>
[nan, 'male', 'female', 'unknown']
Length: 4, dtype: str

In [54]:
df['Gender'] = df['Gender'].replace('nan', np.nan)

In [55]:
df['Gender'].isnull().sum()

np.int64(784)

In [56]:
df['Gender'].value_counts()

Gender
male       2316
female     2238
unknown     737
Name: count, dtype: int64

In [57]:
df['Gender'] = df['Gender'].fillna('unknown')

In [58]:
df['Gender'].value_counts()

Gender
male       2316
female     2238
unknown    1521
Name: count, dtype: int64

Email Cleaning

In [59]:
df['Email'].unique()

<StringArray>
[       'santanaheidi@simpson.com',           'anthony69@hotmail.com',
      'gutierrezzachary@gmail.com',           'kmartinez@hotmail.com',
                'shortjay@abc.org',         'carpenterian@keller.com',
              'thomas79@gmail.com',             'stanleyamy@clay.com',
           'eespinoza@hotmail.com',                               nan,
 ...
             'melanie80@yahoo.com',             'charles63@gmail.com',
 'thomasallen@peters-mitchell.net',            'xhenderson@gmail.com',
       'phillipnguyen@schmidt.com',           'marcowright@gmail.com',
             'wgonzalez@yahoo.com',            'wrose@ortiz-wong.com',
        'cgreen@peters-reyes.info',                               'j']
Length: 5937, dtype: str

In [60]:
df['Email'] = df['Email'].str.strip()

In [61]:
df['Email'] = df['Email'].str.lower()

In [62]:
df[df['Email'].str.contains('@', na=False)]

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,13841,Jennifer Myers,45,unknown,phillipnguyen@schmidt.com,3387533178,NaN,IT,1062909,2023-02-19,10.0,Good,10068.0,NaN,3.0,Hybrid
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote

In [63]:
df[df['Email'].str.count('@') == 1]

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,13841,Jennifer Myers,45,unknown,phillipnguyen@schmidt.com,3387533178,NaN,IT,1062909,2023-02-19,10.0,Good,10068.0,NaN,3.0,Hybrid
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote

In [64]:
df['Email_Domain'] = df['Email'].str.split('@').str[-1]

In [65]:
df['Email'].unique

<bound method Series.unique of 0         santanaheidi@simpson.com
1            anthony69@hotmail.com
2       gutierrezzachary@gmail.com
3            kmartinez@hotmail.com
4                 shortjay@abc.org
                   ...
6076         marcowright@gmail.com
6077           wgonzalez@yahoo.com
6078          wrose@ortiz-wong.com
6079      cgreen@peters-reyes.info
6080                             j
Name: Email, Length: 6075, dtype: str>

In [66]:
df['Email_Domain'].value_counts().head(20)

Email_Domain
gmail.com          1005
yahoo.com           991
hotmail.com         954
smith.com            32
johnson.com          29
company.com          25
williams.com         21
brown.com            17
test.net             15
outlook.com          14
miller.com           14
                     12
thompson.com         12
davis.com            12
rodriguez.com        11
user#domain.com      11
perez.com            11
garcia.com           10
jones.com             9
thomas.com            9
Name: count, dtype: int64

In [67]:
df = df.drop(df.index[-1])

In [68]:
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite,Email_Domain
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite,simpson.com
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite,hotmail.com
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote,gmail.com
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote,hotmail.com
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite,abc.org
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,13841,Jennifer Myers,45,unknown,phillipnguyen@schmidt.com,3387533178,NaN,IT,1062909,2023-02-19,10.0,Good,10068.0,NaN,3.0,Hybrid,schmidt.com
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite,gmail.com
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid,yahoo.com
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote,ortiz-wong.com
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote,peters-reyes.info

In [69]:
df['Email_Domain'] = df['Email_Domain'].str.replace('#', '', regex=False)

In [70]:
df['Email_Domain'].value_counts().head(20)

Email_Domain
gmail.com         1005
yahoo.com          991
hotmail.com        954
smith.com           32
johnson.com         29
company.com         25
williams.com        21
brown.com           17
test.net            15
outlook.com         14
miller.com          14
                    12
thompson.com        12
davis.com           12
rodriguez.com       11
userdomain.com      11
perez.com           11
garcia.com          10
jones.com            9
thomas.com           9
Name: count, dtype: int64

In [71]:
df['Email_Domain'].isnull().sum()

np.int64(66)

In [72]:
# df['Email.Domain'] = df['Email_Domain'].fillna('unknown.com')

In [73]:
df['Email_Domain'] = df['Email_Domain'].replace({'gamil.com': 'gmail.com', 'yahooo.com': 'yahoo.com'})

In [74]:
df['Email_Domain'] = df['Email_Domain'].replace('nan', np.nan)

In [75]:
counts = df['Email_Domain'].value_counts()

In [76]:
rare_domains = counts[counts < 50].index
df['Domain'] = df['Email_Domain'].replace(rare_domains, 'Other')

In [77]:
df['Domain']

0             Other
1       hotmail.com
2         gmail.com
3       hotmail.com
4             Other
           ...
6075          Other
6076      gmail.com
6077      yahoo.com
6078          Other
6079          Other
Name: Domain, Length: 6074, dtype: object

In [78]:
df['Domain'].unique()

array(['Other', 'hotmail.com', 'gmail.com', nan, 'yahoo.com'],
      dtype=object)

In [79]:
free_domains = ['gmail.com', 'yahoo.com', 'hotmail.com']
df['Email_Type'] = df['Email_Domain'].apply(lambda x: 'personal' if x in free_domains else 'corporate')

In [80]:
corporate_users = df[df['Email_Type'] == 'corporate']
corporate_users

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite,Email_Domain,Domain,Email_Type
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite,simpson.com,Other,corporate
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite,abc.org,Other,corporate
5,19314,Rachel Shelton,56,female,carpenterian@keller.com,(584)676-7314x00733,Mmbai,Marketing,83979,2022-09-05,10.0,Excellent,10067.0,Mmbai,14.0,NaN,keller.com,Other,corporate
7,13566,Colin Robinson,62,female,stanleyamy@clay.com,(028)169-3023,delhi,IT,56741,2022-03-20,7.0,3,10016.0,Mumbai,NaN,Remote,clay.com,Other,corporate
9,17069,Nichole Garcia,20,unknown,NaN,268.737.4111x44696,Bangalor,Operations,NaN,2017-11-21,20.0,NaN,10020.0,Bangalore,14.0,Hybrid,NaN,NaN,corporate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6070,15200,Kirk Quinn,57,unknown,vmunoz@arellano.org,(067)865-8832x748,mumbai,hr,35392,03/01/2022,12.0,Excellent,10075.0,Delhi,18.0,Hybrid,arellano.org,Other,corporate
6073,11222,Mark Beltran,58,female,thomasallen@peters-mitchell.net,468-601-5918x560,delhi,Operations,31650,2022-06-30,13.0,Good,10067.0,Bangalor,27.0,onsite,peters-mitchell.net,Other,corporate
6075,13841,Jennifer Myers,45,unknown,phillipnguyen@schmidt.com,3387533178,NaN,IT,1062909,2023-02-19,10.0,Good,10068.0,NaN,3.0,Hybrid,schmidt.com,Other,corporate
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote,ortiz-wong.com,Other,corporate
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote,peters-reyes.info,Other,corporate

In [81]:
corporate_users['Email_Type'].value_counts()

Email_Type
corporate    3124
Name: count, dtype: int64

In [85]:
df['Domain'] = df['Domain'].fillna(df['Domain'].mode)

In [86]:
df['Domain'].isna().sum()

np.int64(0)

Phone Number Cleaning

In [82]:
df['Phone_Number'].value_counts().head(20)

Phone_Number
12345                    19
+91 9876543210           18
987 654 3210             17
abcdef                   15
862.555.7437x566          1
001-080-715-5689x268      1
1139018681                1
+1-108-550-5011x4112      1
050.572.6766              1
(584)676-7314x00733       1
965.752.9562x446          1
(028)169-3023             1
+1-184-332-7338x04224     1
268.737.4111x44696        1
(771)110-8675x46697       1
+1-204-923-3362x831       1
657-021-9236x634          1
001-056-326-2176          1
001-411-146-9146x858      1
+1-772-724-5074x348       1
Name: count, dtype: int64

In [83]:
df['Cleaned_Phone'] = df['Phone_Number'].astype(str).str.replace(r'\D', '', regex=True)

In [87]:
#Extract only country code(first 1-3 digits if number>10 digits)
def get_country_code(number):
    if pd.isnull(number):
        return np.nan
    if len(number) <= 10:
        return np.nan
    return number[:-10] #Everything before the last 10 digits

df['Country_Code'] = df['Cleaned_Phone'].apply(get_country_code)

In [88]:
df['Country_Code'].isnull().sum()

np.int64(1996)

In [89]:
def get_local_number(number):
    if pd.isnull(number) or len(number) < 10:
        return np.nan
    return number[:-10]

df['Local_Number'] = df['Cleaned_Phone'].apply(get_local_number)

In [90]:
df['Is_Valid_Number'] = df['Local_Number'].notnull()

In [92]:
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,...,Work_Location,Bonus_Percentage,Remote_Onsite,Email_Domain,Domain,Email_Type,Cleaned_Phone,Country_Code,Local_Number,Is_Valid_Number
0,16271,Morgan Reyes,39,unknown,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,...,Chennai,18.0,Onsite,simpson.com,Other,corporate,8625557437566,862,862,True
1,12235,Brendan Thomas,31,unknown,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,...,Hyderabad,29.0,onsite,hotmail.com,hotmail.com,personal,0010807155689268,001080,001080,True
2,10743,Jeanette Hooper,41,male,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,...,Delhi,22.0,remote,gmail.com,gmail.com,personal,1139018681,NaN,,True
3,19229,Jesse Stewart,39,unknown,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,...,NaN,29.0,Remote,hotmail.com,hotmail.com,personal,110855050114112,11085,11085,True
4,12385,William Maxwell,19,male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,...,Bangalore,16.0,onsite,abc.org,Other,corporate,0505726766,NaN,,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,13841,Jennifer Myers,45,unknown,phillipnguyen@schmidt.com,3387533178,NaN,IT,1062909,2023-02-19,...,NaN,3.0,Hybrid,schmidt.com,Other,corporate,3387533178,NaN,,True
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,...,Hyderabad,29.0,Onsite,gmail.com,gmail.com,personal,001662677194618388,00166267,00166267,True
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,...,Bangalor,27.0,Hybrid,yahoo.com,yahoo.com,personal,00385784894984,0038,0038,True
6078,18233,Richard Rodriguez,48,unknown,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,...,Hyderabad,27.0,remote,ortiz-wong.com,Other,corporate,00131137063220556,0013113,0013113,True
6079,14157,Lucas Ramsey,18,unknown,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,...,Mmbai,1.0,Remote,peters-reyes.info,Other,corporate,3265399841,NaN,,True

Salary Cleaning

In [93]:
df['Salary'].value_counts()

Salary
129159       3
92399        3
63888        2
96104        2
69413        2
            ..
97914        1
1062909      1
148166       1
39682        1
127574.42    1
Name: count, Length: 5880, dtype: int64

In [94]:
df['Salary'].isnull().sum()

np.int64(54)

In [95]:
salary_series = df['Salary']

In [96]:
salary_str = salary_series.astype(str).str.strip()

In [97]:
unique_salaries = salary_str.unique()

In [98]:
unique_salaries

<StringArray>
[ '104695.6',    '146215',    '124286',    '111413',     '99001',     '83979',
    '105264',     '56741',     '95380',         nan,
 ...
    '110019',     '35392',     '61481',    '137657',     '31650',     '97914',
   '1062909',    '148166',     '39682', '127574.42']
Length: 5881, dtype: str

In [99]:
import numpy as np

In [100]:
def salary_format_type(s):
    s = str(s).strip()
    if s == 'nan':
        return 'Missing'
    elif any(c.isalpha() for c in s):
        return 'Contains letters(k, M, etc.)'
    elif any(c in '₹$,' for c in s):
        return 'Currency / Comma'
    elif s.replace('.', '', 1).isdigit():
        return 'Numeric'
    else:
        return 'Other / Invalid'

Salary_Format = salary_series.apply(salary_format_type)

#check counts per format type
Salary_Format.value_counts()

Salary
Numeric             5967
Missing               54
Currency / Comma      53
Name: count, dtype: int64

In [102]:
currency_comma_mask = salary_str.str.contains(r'[₹$€,]', regex=True)
currency_comma_mask

0       False
1       False
2       False
3       False
4       False
        ...
6075    False
6076    False
6077    False
6078    False
6079    False
Name: Salary, Length: 6074, dtype: bool

In [103]:
unique_currency_comma = salary_str[currency_comma_mask].unique()
unique_currency_comma

<StringArray>
['₹102348', '₹125315', '₹175543', '₹137382', '₹187279', '₹139612', '₹113686',
 '₹156506',  '₹49253', '₹166869', '₹176030', '₹198546',  '₹37878',  '₹33159',
  '₹60766',  '₹43517',  '₹39918',  '₹59994',  '₹78153',  '₹49741',  '₹45280',
  '₹34340', '₹182322', '₹133002', '₹153803', '₹131721',  '₹57893', '₹117997',
  '₹70227',  '₹80991',  '₹41307', '₹117318',  '₹58272',  '₹82455', '₹193203',
 '₹173992',  '₹84693', '₹181899',  '₹44298',  '₹31609', '₹198427', '₹124475',
  '₹63535',  '₹79553', '₹125560',  '₹60472', '₹138030',  '₹89483', '₹185699',
 '₹118298',  '₹30686',  '₹62460',  '₹45846']
Length: 53, dtype: str

In [104]:
print('Total unique currency/comma formats:',len(unique_currency_comma))
print('Sample unique currency/comma formats:')
print(unique_currency_comma[:53])

Total unique currency/comma formats: 53
Sample unique currency/comma formats:
<StringArray>
['₹102348', '₹125315', '₹175543', '₹137382', '₹187279', '₹139612', '₹113686',
 '₹156506',  '₹49253', '₹166869', '₹176030', '₹198546',  '₹37878',  '₹33159',
  '₹60766',  '₹43517',  '₹39918',  '₹59994',  '₹78153',  '₹49741',  '₹45280',
  '₹34340', '₹182322', '₹133002', '₹153803', '₹131721',  '₹57893', '₹117997',
  '₹70227',  '₹80991',  '₹41307', '₹117318',  '₹58272',  '₹82455', '₹193203',
 '₹173992',  '₹84693', '₹181899',  '₹44298',  '₹31609', '₹198427', '₹124475',
  '₹63535',  '₹79553', '₹125560',  '₹60472', '₹138030',  '₹89483', '₹185699',
 '₹118298',  '₹30686',  '₹62460',  '₹45846']
Length: 53, dtype: str

In [105]:
df['Salary'] = df['Salary'].astype(str).str.replace('₹', '', regex=False)

In [106]:
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

In [107]:
df['Salary'].head()

0    104695.6
1    146215.0
2    124286.0
3    111413.0
4     99001.0
Name: Salary, dtype: float64

In [108]:
print(df['Salary'].dtype)

float64

In [109]:
#Fill missing salaries with median
df['Salary'] = df['Salary'].fillna(df['Salary'].median())

In [110]:
salary = df['Salary']

In [ ]:
Q1 = salary.quantile(0.25)
Q3 = salary.quantile(0.75)