In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('Realistic_Messy_Employee_Dataset_Beginner_Friendly.csv')
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,NaN,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,NaN,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,M,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,NaN,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,Male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,NaN,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,NaN,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote
6080,10656,Leslie Hansen,21,NaN,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.isnull().sum()

ID                      0
Name                  125
Age                    61
Gender                784
Email                  66
Phone_Number           77
City                  596
Department            535
Salary                 55
Joining_Date          111
Experience_Years       64
Performance_Score     668
Manager_ID             69
Work_Location         735
Bonus_Percentage      131
Remote_Onsite        1020
dtype: int64

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 6081 entries, 0 to 6080
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 6081 non-null   int64
 1   Name               5956 non-null   str
 2   Age                6020 non-null   str
 3   Gender             5297 non-null   str
 4   Email              6015 non-null   str
 5   Phone_Number       6004 non-null   str
 6   City               5485 non-null   str
 7   Department         5546 non-null   str
 8   Salary             6026 non-null   str
 9   Joining_Date       5970 non-null   str
 10  Experience_Years   6017 non-null   float64
 11  Performance_Score  5413 non-null   str
 12  Manager_ID         6012 non-null   float64
 13  Work_Location      5346 non-null   str
 14  Bonus_Percentage   5950 non-null   float64
 15  Remote_Onsite      5061 non-null   str
dtypes: float64(3), int64(1), str(12)
memory usage: 760.3 KB

In [11]:
missing = df.isnull().sum().sort_values(ascending=False)
missing_percent = (missing / len(df)) * 100
pd.DataFrame({'Missing_Count': missing, 'Missing_Percent': missing_percent})

                   Missing_Count  Missing_Percent
Remote_Onsite               1020        16.773557
Gender                       784        12.892616
Work_Location                735        12.086828
Performance_Score            668        10.985035
City                         596         9.801020
Department                   535         8.797895
Bonus_Percentage             131         2.154251
Name                         125         2.055583
Joining_Date                 111         1.825358
Phone_Number                  77         1.266239
Manager_ID                    69         1.134682
Email                         66         1.085348
Experience_Years              64         1.052458
Age                           61         1.003124
Salary                        55         0.904457
ID                             0         0.000000

In [12]:
df.duplicated().sum()

np.int64(6)

In [13]:
df.drop_duplicates(inplace=True)
df

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
0,16271,Morgan Reyes,39,NaN,santanaheidi@simpson.com,862.555.7437x566,delhi,Financ,104695.6,2019-05-09,12.0,1,10002.0,Chennai,18.0,Onsite
1,12235,Brendan Thomas,31,NaN,anthony69@hotmail.com,001-080-715-5689x268,Chennai,Financ,146215,2017-12-17,16.0,5,10018.0,Hyderabad,29.0,onsite
2,10743,Jeanette Hooper,41,M,gutierrezzachary@gmail.com,1139018681,Bangalore,IT,124286,2018-02-08,2.0,Good,10071.0,Delhi,22.0,remote
3,19229,Jesse Stewart,39,NaN,kmartinez@hotmail.com,+1-108-550-5011x4112,delhi,IT,111413,2018-04-07,14.0,Poor,10042.0,NaN,29.0,Remote
4,12385,William Maxwell,19,Male,shortjay@abc.org,050.572.6766,delhi,Financ,99001,2024-10-19,11.0,NaN,10094.0,Bangalore,16.0,onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,18150,Kevin Campbell,24,female,marcowright@gmail.com,001-662-677-1946x18388,mumbai,Finance,148166,2021-11-16,5.0,Poor,10020.0,Hyderabad,29.0,Onsite
6077,15492,Richard Garcia,37,male,wgonzalez@yahoo.com,003.857.8489x4984,Bangalore,HR,41558,2021-03-08,3.0,2,10082.0,Bangalor,27.0,Hybrid
6078,18233,Richard Rodriguez,48,NaN,wrose@ortiz-wong.com,001-311-370-6322x0556,Chennai,HR,39682,2023-06-08,20.0,3,10071.0,Hyderabad,27.0,remote
6079,14157,Lucas Ramsey,18,NaN,cgreen@peters-reyes.info,326.539.9841,Mmbai,NaN,127574.42,2024-06-16,9.0,Poor,10024.0,Mmbai,1.0,Remote
6080,10656,Leslie Hansen,21,NaN,j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.dtypes

ID                     int64
Name                     str
Age                      str
Gender                   str
Email                    str
Phone_Number             str
City                     str
Department               str
Salary                   str
Joining_Date             str
Experience_Years     float64
Performance_Score        str
Manager_ID           float64
Work_Location            str
Bonus_Percentage     float64
Remote_Onsite            str
dtype: object

In [15]:
df['Name'].isnull().sum()

np.int64(124)

In [16]:
df[df['Name'].isnull()].head()

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
311,14132,NaN,19,male,uross@gmail.com,6300814371,Hyderabad,NaN,121454,2022-04-06,15.0,Poor,10001.0,Bangalor,1.0,Onsite
324,19605,NaN,44,Unknown,sanchezstephanie@yahoo.com,847-726-5745x8462,Hyderabad,hr,72354,2026-01-22,13.0,Excellent,10036.0,Delhi,4.0,onsite
365,15739,NaN,59,M,chenderson@jimenez-hall.com,(353)695-8399x3630,Delhi,Finance,53286,2021-10-08,18.0,3,10037.0,NaN,16.0,onsite
368,14876,NaN,42,NaN,thomassandra@yahoo.com,679.812.1645,mumbai,Financ,144907,2022-05-08,0.0,Good,10087.0,Bangalor,13.0,Remote
520,15023,NaN,63,Male,garciahector@owens.com,971-471-1592x9071,Mumbai,hr,86552,2017-10-10,19.0,Excellent,10041.0,Delhi,26.0,Remote

In [ ]:
#df['column_name'] = df['column_name'].str.strip().str.replace(r'\s+', ' ', regex=True)

In [17]:
extra_space_names = df[df['Name'].str.startswith(' ') | df['Name'].str.endswith(' ')]
extra_space_names

,ID,Name,Age,Gender,Email,Phone_Number,City,Department,Salary,Joining_Date,Experience_Years,Performance_Score,Manager_ID,Work_Location,Bonus_Percentage,Remote_Onsite
196,17080,Jerry Ellis,37,male,sandracarter@gregory.org,755-653-0679x08707,Chennai,Operations,79245,2022-12-30,2.0,Good,10018.0,Mumbai,20.0,remote
386,11304,Brittany Avery,62,Male,nancy35@torres.com,248-069-6628x264,Hyderabad,sales,69037,2023-05-30,10.0,5,10003.0,NaN,1.0,onsite
402,12983,Kristen Mccormick,39,Female,jason12@gmail.com,658.594.2860,Bangalor,Marketing,4943155,2018-07-26,17.0,5,10056.0,Mmbai,17.0,NaN
430,15095,Vincent Franco,NaN,male,james01@miller-valencia.info,+1-581-351-9496,Mumbai,Finance,105733.3,2017-03-29,3.0,4,10059.0,Mmbai,13.0,Remote
433,14276,Jill Jones,55,Female,arthurallen@barry.com,+1-795-496-4059x322,Bangalore,HR,136017,2020-11-05,9.0,1,10096.0,Hyderabad,29.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5926,12380,Mike Hawkins,twenty,female,jamesarnold@hotmail.com,5526582771,Delhi,hr,81827,2018-05-27,19.0,Excellent,10028.0,Delhi,11.0,Onsite
5980,19651,William Soto,35,Male,hmurphy@patterson-cisneros.com,001-312-760-1682x14507,Hyderabad,IT,149547,2022-09-21,5.0,Excellent,10016.0,Mmbai,10.0,remote
6002,18306,Amanda Rocha,22,Female,igonzalez@hotmail.com,001-390-092-3546x147,Bangalore,Sales,4667817,2017-08-20,9.0,Poor,10057.0,Mumbai,19.0,remote
6026,14886,Rachel Shaw,forty-five,male,lambertandre@vance-mcpherson.biz,(645)117-5591x893,mumbai,sales,NaN,2020-10-27,4.0,1,10014.0,Bangalor,16.0,Remote
6044,13764,Amber Lee,18,NaN,user#domain.com,534.668.7825x656,NaN,IT,122470,2019-08-20,7.0,4,10069.0,Hyderabad,30.0,Hybrid

In [18]:
print('Total names with extra spaces =', len(extra_space_names))

Total names with extra spaces = 126

In [ ]:
import re

def has_special_char(name):
    if pd.isnull(name):
        return False
    return bool(re.search(r''